/* FONTS */

@font-face {
    font-family: Montserrat-regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}

@font-face {
    font-family: Montserrat-thin;
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf)
}

@font-face {
    font-family: Impact-regular;
    src: url(../fonts/Impact/impact.ttf)
}

/* BASICS */

* {
    box-sizing: border-box;
}

html {
font-family: Montserrat-regular ;
font-size: 20;
color: #FFFFFF;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 25px;
    margin: 0 0;
}

.logo {
    font-family: Impact-regular;
    font-size: 30px;
    padding: 20px;
}

.logo:hover {
cursor: pointer;
}
/* LAYOUT */

.main-header {
    /* max-width: 1100px; */
    margin-left: 50px;
    margin-right: 50px;
    /* padding-top: 25px;
    padding-bottom: 25px; */
}

.main-canvas {
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px 60px;
}
.main-header .main-nav>*:not(:last-child) {
    /* margin-inline-end: 90px; */
    border-right: solid 1px #8a8a8a;;
}

.main-container {
    /* max-width: 1100px; */
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-footer {
    margin-left: 50px;
    margin-right: 50px;
    background-color:#ff7f00;
}

.canvas-container {
    margin-right: 200px;
    /* margin-left: 100px; */
}

.toolbox {
    /* margin-top: 60px; */
}
/* Components */

.main-header {
    /* height: 130px; */
    color: #FFFFFF;
    background-color:#ff7f00;
    box-shadow: inset 0 -6px 0 #ff7f00;
}

.gallery, .main-canvas {
    background-color: #e3e3e3;
}

img:hover {
    cursor: pointer;
}

.about {
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 80px;
    padding-bottom: 160px;
}
.my-image img {
    border-radius: 50%;
    height: 320px;
}
/* Helpers */

/* Flex Helpers */

.flex {
    display: flex;
}

.flex.mb {
    margin-bottom: 80px;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.justify-end {
    justify-content: flex-end;
}
.column {
    flex-direction: column;
}

/* Grid Helpers */
.grid {
    display: grid;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    justify-content: center;
    gap: 20px;

}


/* List Helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-item {
    height: 100%;
}

.main-nav a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    padding: 30px;
}
.copyright {
    font-family: Montserrat-thin;
}

.hidden {
    display: none;
}

.toolbox {
grid-template-columns: repeat(5, 90px) ;
grid-template-rows: repeat(4, 90px);
gap: 15px;
text-align: center;
grid-template-areas:
"text text text text text"
". switch-line add-line delete-line ."
"incFont decFont alignL alignC alignR"
". . download . .";
}

.text {
    grid-area: text;
}